@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');

:root {
  --primary-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --secondary-color: #2e382e;
  /* --accent-color: #490068; */
  --accent-color: #c179b9;
  /* --accent-clicked: #490068; */
  --accent-clicked: #a42cd6;
}
/* 
60 gray-white #EDEDED
30 beige #F5F5DC
10 dark-blue #0C134F */

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  position: relative;
}

nav {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  /* z-index: 1000; */
  background-color: var(--primary-color);
}
h1 {
  font-size: 40px;
  font-weight: 700;
  padding: max(10px, 2vw) 0;
  font-family: 'Lobster', cursive;
  color: var(--secondary-color);
}
body > nav,
body > #shelf {
  padding: 0 min(100px, 10vw);
}
#shelf {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5vw;
  font-size: clamp(20px, 2.5vw, 27px);
  text-align: center;
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap row;
  /* flex-direction: column; */
  gap: 20px;
  margin-top: 100px;
  padding-top: 30px;
}

.box {
  flex: 1 0 610px;
  font-family: 'Tajawal', sans-serif;
  display: grid;
  grid-template: repeat(2, minmax(20px, auto)) / repeat(2, 1fr) auto;
  justify-items: start;
  grid-auto-flow: column;
  padding: 10px 40px 10px 20px;
  font-weight: bold;
  text-align: start;
  column-gap: 20px;
  background-color: var(--secondary-color);
  border-radius: 0.3em;
  width: 100%;
}

.box p:nth-last-of-type(3),
.box p:nth-last-of-type(4) {
  padding-left: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.562);
}

/* For the button */
/* --------> */
.box > div {
  width: 100%;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.box button {
  width: 50px;
  justify-self: end;
}
/* <-------- */

.box p:nth-of-type(odd) {
  font-size: 15px;
  font-weight: 500;
}

.box p:last-child {
  font-size: 16px;
}

div > button:first-child {
  margin-right: max(3vw, 22px);
  border: none;
}
.status {
  appearance: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.2s ease;
  color: rgb(74, 212, 74);
}

.status:hover {
  color: rgb(131, 241, 131);
}

.status:active,
.not-read:active {
  color: rgba(255, 217, 0, 0.473);
  scale: 0.95;
  transition: none;
}
.not-read {
  color: rgb(207, 25, 25);
}
.not-read:hover {
  color: rgb(228, 65, 65);
}

.delete {
  /* color: var(--accent-color); */
  color: #c179b9;
  transition: all 0.2s ease;
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: var(--secondary-color);
  /* border: 1px solid white; */
}

.delete:hover {
  color: #ecb6e6;
}

.delete:active {
  scale: 0.95;
  color: #b64775;

  transition: none;
}

/* For the circle button */
/* --------------> */
.circle {
  font-size: 50px;
  position: fixed;
  color: var(--accent-color);
  bottom: 100px;
  right: 100px;
  padding: 0;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.circle:hover {
  background-color: var(--accent-color);
  color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.circle:active {
  background-color: var(--accent-clicked);
  border: 2px solid var(--accent-clicked);
  scale: 0.95;
}
/* <-------------- */

/* form
-----------------> */

.form-wrapper {
  opacity: 0.5;
  background-color: gray;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  display: flex;
}

.form-wrapper,
.form {
  scale: 0;
  transition: none;
}

.pop-up {
  scale: 1;
  transition: all 0.4s ease;
}

.form {
  background-color: var(--secondary-color);
  padding: 20px 30px 70px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
form {
  display: grid;
  text-align: center;
  font-family: 'Tajawal', sans-serif;
  color: var(--text-color);
  grid-template-rows: repeat(5, auto) 50px 76px;
}

form p:first-child {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}
label {
  margin-bottom: 20px;
}

[type='button'] {
  border-radius: 0.4em;
  background-color: inherit;
  border: none;
  height: 40px;
  justify-self: center;
  margin-top: 20px;
}
form p {
  font-size: 15px;
  margin: 0;
}

[type='text']:focus {
  border: 2px solid black;
}
[type='text'] {
  border-radius: 0.5em;
  height: 40px;
  width: 300px;
  border: none;
  outline: yellow;
  font-size: medium;
  font-family: inherit;
  font-weight: 500;
  padding: 0 10px;
}

[type='submit'] {
  appearance: none;
  padding: 7px 25px;
  border: 1px solid var(--accent-color);
  border-radius: 0.4em;
  background-color: inherit;
  margin-top: 30px;
  height: 30px;
  color: var(--accent-color);
  justify-self: center;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
[type='submit']:hover {
  border: 1px solid var(--accent-clicked);
  background-color: var(--accent-clicked);
  color: var(--primary-color);
}

[type='submit']:active {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: none;
  color: var(--secondary-color);
  scale: 0.95;
}
/* <----------------- */
